<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
</head>
<body>
    <li>
        <strong>작성자:</strong> <%= info.name %><br/>
        <strong>이메일:</strong> <%= info.email %><br/>
        <strong>내용:</strong> <%= info.description %><br/>
    </li>
</body>
</html>