/* 폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
font-family: 'Orbit', sans-serif;
}
body{
  height: 1500px;
  overflow: auto;
}
section{
    display: flex;
    justify-content: center;
}
.realContainer{
  width: 1080px;
  vertical-align: middle;
  align-content: center;
  margin-top:2em ;
}

/* ~~상단헤더~~ */
header{
  height: 4em;
  width: 100%;
  z-index: 1;
  position: fixed;
}
.headerBack{
    height: 3em;
}
#searchBar{
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    height: 4em;
    display:flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
#searchForm{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 3em 0 1em;;
}
.imgLogo{
    width: 9em;
    height: 4em;
    top: 1.7em;
    margin-right: 1em;
}
.searchTxt{
    width: 80%;
    top: 1.5em;
}
.searchBtn{
    margin: 0.6rem;
    padding: 5px;
    margin-top: 10px;
}
#searchBtn{
    height: 2.5em;
    background-color: #d1ccdc;
    color: #424c55;
    border-radius: 5px;
    padding: 2px;
    margin-left: 1em;
}
.back_login_btn{
    padding: 5px;
    background-color: transparent;
    color: gray;
    border: none;
    width: 7em;
    margin: 0;
}

/* ~~사이드 바 */
.side-bar{
  margin-top: 3em;
  position:fixed;
  width: 13em;
  min-height: 20em;
  border-radius: 5px;
  padding: 1em 1.5em  1em 1.5em;
  background-color: white;
}
ul,li{
    margin: 1;
    padding: 0.6em;
    list-style: none;
    border-radius: 5px;
}
li:hover{
    background-color: #d1ccdc;
}

a{
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
}
a:link { color: black; }
a:visited { color:#6c757d; }
a:hover{
    color: white;
    text-decoration: none;
}

/* ~~body card */
.postDetail{
    margin-top: 5em;
    margin-left: 14em;
    width: 800px;
    align-items: center;
    overflow: hidden;
}
.postView{
    border-radius: 10px;
    padding: 2em;
    border: 1px solid #d1ccdc;
    padding-right: 3em;
    margin-bottom: 5em;
}
.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #d1ccdc;
    margin-left: 1em;
}
.postViewTop{
    text-align: right;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.postTitle{
    font-size: large;
    font-weight: bold;
    margin-left: 1em;
}
.postAutherBtn{
    text-align: right;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
/* ==포스트내부 */
.detailImg{
    width: 700px;
    object-fit: contain;
    margin: 1em;
    border-radius: 10px;

}
.postContent{
    margin: 1em;
    width: 716px;
}
.postCreatedAt{
    font-size: small;
    opacity: 40%;
    text-align: right;
    margin-bottom: 3em;
}
/* == 코멘트 작성 */
.commentSubmit{
    margin: 1em 2em 1em 2em;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.commentForm{
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end
}
.commentInput{
    width: 70%;
}
.commentBtn{
    width: 10%;
    margin-left: 1em;
}

/* ==코멘트 리스트 */
.commentList{
    margin-top: 3em;
    margin-bottom: 2.5em;
}
.comment{
    border: dotted #d1ccdc;
    border-width: 1px 0;
    border-radius: 0;
    margin: 0;
}
.commentContent{
    margin: 0 2em 0 2em;
}
.commentCreatedAt{
    font-size: small;
    opacity: 40%;
    text-align: right;
}
#commentBtnFD{
    text-align: right;
    margin-left:2em;
}
/* ==모달 */
.modal-content{
    width: 500px;
}
.modal {
background: rgba(0, 0, 0, 0.5);
}
/* ~~footer */
footer {
  background-color: #dbdbdb;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
}