/* 폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
font-family: 'Orbit', sans-serif;
}
body{
  height: 1500px;
  overflow: auto;
}
.realContainer{
  display: flex;
  justify-content: center;
  height: 1500px;
  overflow: auto;
}
section{
  width: 1080px;
  vertical-align: middle;
  align-content: center;
}
/* ~~상단헤더~~ */
header{
  height: 5em;
}
.headerBack{
    height: 3em;
}
.searchBar{
    padding-top: 5em;
    padding-bottom: 2em;
    height: 5em;
    z-index: 1;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    width: 100%;
}
form{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.imgLogo{
    margin-left: 2em;
    width: 9em;
    height: 4em;
    top: 1.7em;
    margin-right: 1em;
}
.searchTxt{
    width: 70%;
    top: 1.5em;
}
.searchBtn{
    margin: 0.6rem;
    padding: 5px;
    margin-top: 10px;
}
#searchBtn{
    height: 2.5em;
    background-color: #d1ccdc;
    color: #424c55;
    border-radius: 5px;
    padding: 2px;
    margin-left: 1em;
}
.back_login_btn{
    margin: 0.6rem;
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    color: gray;
    border: none;
    width: 150px;
}

/* ~~사이드 바 */
.side-bar{
  margin-top: 3em;
  position:fixed;
  width: 13em;
  min-height: 20em;
  border-radius: 5px;
  padding: 1em, 1.5em , 1em, 1.5em;
  background-color: white;
}
ul,li{
    margin: 1;
    padding: 0.6em;
    list-style: none;
    border-radius: 5px;
}
li:hover{
    background-color: #d1ccdc;
}

a{
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
}
a:link { color: black; }
a:visited { color:#6c757d; }
a:hover{
    color: white;
    text-decoration: none;
}

/* ~~body card */
.postDetail{
    margin-top: 4em;
    margin-left: 14em;
    width: 800px;
    align-items: center;
}


/* ~~footer */
footer {
  background-color: #dbdbdb;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
}