/* 폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
font-family: 'Orbit', sans-serif;
}
/* d1ccdc
424c55
F5EDF0
886F68
3D2C2E */

body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
#imgLogo{
  margin: 60px 20px 60px 20px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 4%;
  height: 100px;
  width: 300px;
}

h4{
  font-size: 30px;
  color: #886F68;
  /* color:  #d1ccdc;; */
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.postingForm{
  background-color: #F5EDF0;  
  height: 700px;
  width: 50%;
  margin : 10% 10% 10% 1%;
  padding: 30px 30px 30px 40px;
  border-radius: 40px;
  border: 3px solid transparent ;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.postingInput:first-child{
  height: 50px;
  width: 90%;
  border-radius: 10px;
  margin: 20px;
  font-size: 17px;
  padding: 5px 5px 5px 15px;
  border: transparent
}

.postingInput {
  height: 50px;
  width: 90%;
  border-radius: 10px;
  margin: 20px;
  font-size: 17px;
  padding: 5px 5px 5px 18px;
  border: transparent;
  background-color: white;
}
.postingInput:focus {
  outline: none;
}

#fileInput{
  margin-left: 3%;
}
#post_btn{
  width: 90%;
  margin: 0.6rem;
  padding: 10px;
  margin-top: 10px;
  height: 3.5em;
  color: #d1ccdc;
  border-radius: 15px;
  border: 1px solid #d1ccdc;
  padding: 2px;
  margin-left: 1em;
}
#fileLabel{
  border: 1px solid #d1ccdc;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  height: 50px;
  width: 500px;
  margin: 40% 0px 0px 5%;
}
#fileUploadBtn{
  background-color:#F5EDF0;
  border: transparent;
}


.postingFormtag{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* text-decoration: ; */
}

.blank1{
  height: 60px;
}
.blank{
  height: 20px;
}

.floatingSelect,
.floatingSelect option{
  height: 50px;
  width: 90%;
  margin: 20px;
}

.form-select-lg{
  height: 50px;
  width: 90%;
  margin: 20px;
  border-radius: 15px;
  padding-left: 15px;
}